@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    background: var(--green);
    color: white;
}

body{
    background-color: rgb(243, 234, 234);
}
header{
    width: 98%;
    background: white;
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
    transition: .2s;
}

.header-active{
    top: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: 0 .1tem .3rem rgba(0, 0, 0, .3);
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li{
    margin: 0 1rem;
}

header .navbar ul li a{
    font-size: 1.2rem;
    color: black;
    transition: .2s;
}

header .navbar ul li .active,
header .navbar ul li a:hover{
    color: orange;
}

header .logo{
    font-size: 2.5rem;
    color: orange;
    text-transform: uppercase;
}

header .logo i{
    color: orange;
    padding: 0 .2rem;
}

header .fa-bars{
    font-size: 3rem;
    color: orange;
    cursor: pointer;
    display: none;
    transition: .2s;
}
.about-us{
    margin-top: 7rem;
    margin-left: 5%;
    width: 90%;
    background:url(Assets/abt.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 1rem;
}

.container{
    max-width: 150rem;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.flex{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 0.5rem;
}

.about-us h2{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.about-us h3{
    font-size:1rem;
    color: #888;
    margin-bottom: 8px;
}

.about-us p{
    font-size: 0.75rem;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
}

.about-us img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.social-links{
    margin-bottom: 1rem;
}

.social-links a{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 50%;
    margin-right: 1.25rem;
    color: #fff;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
}

.social-links a:hover{
    transform: translateY(-3px);
}

.btn{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.6rem;
    background-color: #333;
    transition: all 0.4s ease;
    margin-bottom: 0.5rem;
}
.btn:hover{
    transform: translateY(-3px);
}

@media (max-width:768px){
    html{
        font-size: 55%;
    }
    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: fixed;
        top: -100rem;
        left: 0;
        width: 100%;
        background-color: #fff;
        border-radius: 1rem;
        opacity: 0;
        transition: .2s linear;
    }

    header .navbar ul{
        flex-flow: column;
        padding: 2rem 0 ;
    }

    header .navbar ul li{
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }

    header .navbar ul li a{
        font-size: 3rem;
        display: block;
    }

    header .nav-toggle{
        top: 5.5rem;
        opacity: 1;
    }
    .row{
        flex-direction: column;
    }
    .flex{
        max-width: 100%;
    }
    .about-us h2{
        font-size: 4rem;
    }
    .about-us p{
        font-size: 2rem;
    }
    .social-links a{
        width: 3.75rem;
        height: 3.75rem;
        line-height: 3.75rem;
        font-size: 1.75rem;
        margin-right: 0.5rem;
    }
    .btn{
        font-size: 2rem;
        padding: 1rem 2rem;
        margin-bottom: 3.75rem;
    }
}